force-app/main/default/flows/Job_Application_After_Save_Flow_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_about_a_new_hire</name>
        <label>Post about a new hire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Assing_Position_Record_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>A new Hire was made for the position {!$Record.Position__c} and the candidate that was hired was {!$Record.Candidate__r.First_Name__c}  {!$Record.Candidate__r.Last_Name__c} </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <stringValue>0F9aj000000am1JCAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>group</stringValue>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Round_Robin_Pick_Interviewers</name>
        <label>Round Robin – Pick Interviewers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InterviewRoundRobinAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_an_Interview</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>howMany</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>poolKey</name>
            <value>
                <stringValue>EN-US</stringValue>
            </value>
        </inputParameters>
        <nameSegment>InterviewRoundRobinAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>interviewerId</assignToReference>
            <name>pickedInterviewerId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>pickedUserId</assignToReference>
            <name>pickedUserId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>pickedUserIds</assignToReference>
            <name>pickedUserIds</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_to_Interviwer</name>
        <label>Send Notification to Interviwer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>pickedUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New Interview assigned for application {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>New Interview assigned for application {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Sync_Offer_to_HR_System</name>
        <label>Sync Offer to HR System</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OfferIntegrationService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobAppId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OfferIntegrationService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedJobApplications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>JobApplication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Job_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_3</name>
        <label>Assignment 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JobApplication</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Job_Applications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Assignment 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>JobApplication.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Position_Record_Id</name>
        <label>Assign Position Record Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PositionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Position__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_All_Associated_Job_Applications</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Current_Job_Application</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Current Job Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filter_Current_Job_Application</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_All_Associated_Job_Applications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Current_Job_Application.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>$Record.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Job_Applications</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>JA_Status_Changes</name>
        <label>JA Status Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>when_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Round_Robin_Pick_Interviewers</targetReference>
            </connector>
            <label>when Approved</label>
        </rules>
        <rules>
            <name>When_Hired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Position_Status_to_Closed</targetReference>
            </connector>
            <label>When Hired</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>interviewDateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()+7</expression>
    </formulas>
    <interviewLabel>Job Application After Save Flow Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Application After Save Flow Trigger</label>
    <loops>
        <name>Iterate_Job_Applications</name>
        <label>Iterate Job Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Associated_Job_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_3</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Records_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_an_Interview</name>
        <label>Create an Interview</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Interview_Date_Time__c</field>
            <value>
                <elementReference>interviewDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interviewer__c</field>
            <value>
                <elementReference>interviewerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Interview for {!$Record.Position__r.Name}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Associated_Job_Applications</name>
        <label>Get All Associated Job Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Current_Job_Application</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Position__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PositionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Interviwer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interview Alert</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Position_Status_to_Closed</name>
        <label>Update Position Status to Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Post_about_a_new_hire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Position__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Update Records 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sync_Offer_to_HR_System</targetReference>
        </connector>
        <inputReference>UpdatedJobApplications</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>JA_Status_Changes</targetReference>
        </connector>
        <object>Job_Application__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Current_Job_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
    <variables>
        <name>interviewerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>JobApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
    <variables>
        <name>pickedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pickedUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PositionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedJobApplications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Application__c</objectType>
    </variables>
</Flow>
